body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .overlay {
    position: absolute;
    background: #e0b5a0;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3vw;
    border-radius: 2vw;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;

    .question {
      margin-bottom: 1vw;
      font-size: 2vw;
      text-align: center;
    }

    input {
      margin-bottom: 1vw;
      padding: 1vw;
      font-size: 2vw;
      border: none;
      border-radius: 1vw;
      width: calc(100% - 2vw);
    }

    button {
      padding: 1vw 2vw;
      font-size: 2vw;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 2vw;
      background: white;
      color: #5f3932;
      transition: background 0.3s, transform 0.3s, border 0.3s;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      &:hover {
        background: #f7f7f7;
        transform: scale(1.05);
        border-image: linear-gradient(135deg, #5f3932 0%, #a98883 100%);
        border-image-slice: 1;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &.overlay-0 {
      top: 29vh;
      left: 54vw;
      width: 38vw;
      height: 18vh;
      border-top-left-radius: 7.8vw 10.4vh;
      border-top-right-radius: 7.8vw 10.4vh;
    }

    &.overlay-1 {
      top: 40vh;
      left: 5vw;
      width: 38vw;
      height: 18vh;
      border-top-left-radius: 7.8vw 10.4vh;
      border-top-right-radius: 7.8vw 10.4vh;
    }

    &.overlay-2 {
      top: 49.5vh;
      left: 54vw;
      width: 38vw;
      height: 19vh;
      border-top-left-radius: 7.8vw 10.4vh;
      border-top-right-radius: 7.8vw 10.4vh;
    }

    &.overlay-3 {
      top: 60vh;
      left: 5vw;
      width: 38vw;
      height: 21vh;
      border-top-left-radius: 7.8vw 10.4vh;
      border-top-right-radius: 7.8vw 10.4vh;
    }

    &.overlay-4 {
      top: 70vh;
      left: 54vw;
      width: 38vw;
      height: 20vh;
      border-top-left-radius: 7.8vw 10.4vh;
      border-top-right-radius: 7.8vw 10.4vh;
    }
  }
}



@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.manual-override, .day-selector {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background: white;
  color: #5f3932;
  transition: background 0.3s, transform 0.3s, border 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background: #f7f7f7;
    transform: scale(1.05);
    border-image: linear-gradient(135deg, #5f3932 0%, #a98883 100%);
    border-image-slice: 1;
  }

  &:active {
    transform: scale(0.95);
  }
}

.navigation-buttons {
  position: absolute;
  top: 3.4rem; /* Move to the top */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;

  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Adjust width for oval shape */
    height: 40px; /* Adjust height for oval shape */
    cursor: pointer;
    border: none;
    border-radius: 20px; /* Oval shape */
    background: #5f3932;
    color: #fff;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background: #a98883;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    i {
      font-size: 1.5em;
    }
  }
}

